#m1 {
  text-transform: uppercase;
}
.bicicletas-bg:nth-child(odd) {
  background-image: linear-gradient(
    to right,
    var(--cor-0) 30%,
    var(--cor-11) 0%
  );
}
.bicicleta-imagem img {
  object-fit: cover;
  object-position: right;
  height: 100%;
  width: 100%;
}
.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../img/dec/top-right.svg") no-repeat top 65px right 21px; 
}
.bicicleta-imagem {
  position: relative;
  display: grid;
}
.bicicleta-imagem img {
  grid-area: 1/1;
}
.bicicleta-imagem span {
  grid-area: 1/1;
  place-self: start end;
  display: inline-block;
  margin-top: 20px;
  background-color: var(--cor-12);
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0px 0px 4px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: flex-start;
}
.bicicletas h2,
.bicicletas p {
  grid-column: 1/-1;
}
.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}
.bicicletas p {
  max-width: 50ch;
  margin-bottom: 32px;
}
.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}
.bicicletas-conteudo ul {
  display: grid;
  gap: 16px;
}

.bicicletas-conteudo a {
  place-self: end;
}
/* Media */
@media (max-width: 800px) {
  .titulo-bg p {
    font-size: 1.125rem;
    text-transform: lowercase;
  }

  .bicicletas-bg:nth-child(odd) {
    background: var(--cor-11);
  }

  .bicicletas {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas ul {
    grid-column: 1/-1;
    font-size: 3.7vw;
    margin-bottom: 32px;
    grid-template-columns: 1fr 1fr;
  }
  .bicicletas-conteudo a {
    place-self: start;
  }

  .bicicleta-imagem span {
    font-size: 3.7vw;
    padding: 8px;
  }
}
