:root {
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
}

.texto-grande {
  font-size: 4rem;
  line-height: 1.125;
  font-weight: 600;
  font-family: var(--font-poppins);
  font-weight: 600;
}
.texto-medio {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--font-roboto);
  font-weight: 400;
}
