:root {
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Roboto", sans-serif;
    --font-secondary-2: 'Merriweather', serif;
}

.font-1-xs {
  font: 600 0.75rem/1.35 var(--font-primary);
  
}
.font-2-xs {
  font: 400 0.875rem/1.35 var(--font-secondary);
}
.font-2-s {
  font: 400 1rem/1.5 var(--font-secondary);
}
.font-1-s {
  font: 400 1rem/1.5 var(--font-primary);
}
.font-2-m {
  font: 500 1.125rem/1.5 var(--font-secondary);
}
.font-1-m {
  font: 500 1.125rem/1.5 var(--font-primary);
}
.font-1-m-b {
  font: 600 1.125rem/1.5 var(--font-primary);
}
.font-1-m {
  font: 400 1.125rem/1.5 var(--font-primary);
}
.font-2-l-b {
  font: 500 1.5rem/1.5 var(--font-secondary);
  letter-spacing: 0.015em;
  text-transform: uppercase;
}
/* font-2-l = Roboto 400 24/36 */
.font-2-l {
  font: 400 1.5rem/1.5 var(--font-secondary);
}
.font-2-xl {
  font: 500 2rem/1.25 var(--font-secondary);
}

.font-1-l {
  font: 400 1.5rem/1.5 var(--font-primary);
}
.font-1-xl {
  font: 600 2rem/1.5 var(--font-primary);
}
/* font-1-xxl = Poppins 600 64px/72px*/
.font-1-xxl {
  font: 600 4rem/1.125 var(--font-primary);
}

/* Responsividade fontes */
@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }
  .font-2-l,
  .font-2-l-b {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 2rem;
  }
  .font-1-xl,
  .font-2-xl{
    font-size: 1.5rem;
  }
}
