.tecnologia-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0px -140px var(--cor-0);
}

.tecnologia-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px;
}
.tecnologia-conteudo div {
  padding-bottom: 150px;
}
.tecnologia-conteudo img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.tecnologia-conteudo h2,
.tecnologia-conteudo p,
.tecnologia-conteudo h3 {
  margin-bottom: 40px;
}
.tecnologia-conteudo h3[class$="cor-p2"] {
  display: inline-block;
  border-bottom: 4px solid var(--cor-p2);
}
.tecnologia-conteudo ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
