.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
}
.depoimento img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0px;
  overflow: hidden;
}
.depoimento-conteudo {
  align-self: end;
  padding: 40px 40px 80px 80px;
}
.depoimento-conteudo p {
  font-family: var(--font-secondary-2);
  font-weight: 900;
  font-style: italic;
  line-height: 1.333;
  word-break: break-all;
  max-width: 32ch;
  margin-bottom: 32px;
  position: relative;
}
.depoimento p::before {
  /* alt+0147 */
  content: "“";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
  left: -50px;
  top: -20px;
}
.depoimento p::after {
  /* alt+0148 */
  content: "”";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento-conteudo {
    padding: 60px 20px;
    justify-self: center;
  }
}

@media (max-width: 600px) {
  #depoimento-texto {
    font-size: 1.1rem;
  }

  .depoimento p::before {
    font-size: 3rem;
    left: -23px;
    top: -20px;
  }
  .depoimento p::after {
    font-size: 3rem;
  }
  .depoimento img{
    max-height: 300px;
  }
}
